/* Estilos generales */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #EADCF8;
    font-family: 'Arial', sans-serif;
    color: #4A148C;
}

/* Botón de añadir clase */
.add-class-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
    margin: 20px auto;
    padding: 16px 24px;
    background: linear-gradient(135deg, #ebddee, #eceaec);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    position: relative;
    overflow: hidden;
}

.add-class-button::before {
    content: '\2795'; /* Icono de añadir (➕) */
    font-size: 20px;
    color: white;
}

.add-class-button:hover {
    background: linear-gradient(135deg, #f2e8f7, #4A148C);
    transform: scale(1.1);
    box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.3);
}

/* Contenedor del logo */
.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Logo */
.logo {
    width: 250px;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.2));
    opacity: 0;
    transform: scale(0.9);
    animation: fadeInLogo 0.8s ease-out forwards;
}

/* Animación de entrada */
@keyframes fadeInLogo {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Título principal */
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #6A1B9A;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Media Queries */
@media (max-width: 768px) {
    .logo {
        width: 200px;
    }
    h1 {
        font-size: 2rem;
    }
    .add-class-button {
        padding: 14px 20px;
        font-size: 16px;
        border-radius: 20px;
    }
}
